@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", serif;
}

.mobile-menu {
  background-color: #262626;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.logo-mobile-menu {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.menu-icon-mobile {
  width: 40px;
  height: 40px;
}

.title-intro {
  font-size: 26px;
  text-align: center;
  margin-top: 26px;
}

.section-musculacion-container {
  display: flex;
  justify-content: center;
}

.title-container {
  background-color: #3B3A3A;
  opacity: 0.4;
  width: 100%;
  height: auto;
  color: #FFFFFF;
  text-align: center;
}

.text-intro {
  text-align: center;
  font-size: 16px;
  padding: 20px;
}

.title-section {
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}

.plans-container-slider {
  display: flex;
  gap: 20px;
  height: auto;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.plans-container-card {
  scroll-snap-align: center;
  width: 70%;
  min-width: 230px;
  max-width: 300px;
  height: 350px;
  margin: 50px auto 0px;
  background-color: #262626;
  color: #FFFFFF;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: center;
  box-shadow: 11px 9px 23px -17px rgb(0, 0, 0);
  margin-bottom: 20px;
}

.plan-card-title {
  font-size: 30px;
  background-color: #59FF4B;
  font-weight: 800;
  display: block;
}

.plan-card-price {
  font-size: 26px;
  font-weight: 400;
  background-color: #3B3A3A;
}

.plan-card-description {
  font-size: 14px;
  font-weight: 200;
  padding: 0px 5px;
  margin-top: 10px;
}

.button-buy {
  width: 150px;
  margin-top: 20px;
  border: none;
  background-color: #FF56BE;
  font-size: 20px;
  color: #FFFFFF;
  padding: 8px;
  border-radius: 30px;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.5s;
}
.button-buy:hover {
  color: #3B3A3A;
  background-color: #59FF4B;
  transform: scale(1.1);
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.card-check-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 1px;
  background-image: url("../Assets/CheckGreenSmall.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: text-bottom;
}

.card-calendar-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 1px;
  background-image: url("../Assets/calendar30diasIconV2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: text-bottom;
}

.extras-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.extras-inscripcion {
  margin-top: 10px;
  background-color: #FF56BE;
  color: #FFFFFF;
  font-size: 16px;
  width: 50%;
  min-width: 150px;
  max-width: 250px;
  text-align: center;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 11px 9px 23px -17px rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 700;
}

.extras-subtitle {
  margin-top: 10px;
  font-size: 20px;
  padding: 10px 0px;
}

.extras-icon-cinta {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: text-bottom;
  background-image: url("../Assets/cintadecorreroIcon.png");
}

.extras-icon-indoorBike {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: text-bottom;
  background-image: url("../Assets/indoorbike_icon.png");
}

.icon-warn {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: text-bottom;
  background-image: url("../Assets/warn-icon.png");
}

.extra-subtitle-indoorbike {
  font-size: 10px;
  text-align: center;
  font-style: italic;
  padding: 20px;
  font-weight: 700;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #3B3A3A;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
footer p {
  font-size: 16px;
  color: #FFFFFF;
}

.footer-social-media-container {
  width: 70%;
  display: flex;
  justify-content: space-around;
  gap: 20px a;
  gap-cursor: pointer;
}

.footer-icon-instagram {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: text-bottom;
  background-image: url("../Assets/instagram_white_icon.png");
}

.footer-icon-whatsapp {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: text-bottom;
  background-image: url("../Assets/whatsapp_icon_white.png");
}

.footer-icon-facebook {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: text-bottom;
  background-image: url("../Assets/facebook_white_icon.png");
}

.clase-title-pinkLine {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  -webkit-text-decoration: underline 5px;
          text-decoration: underline 5px;
  text-decoration-color: #FF56BE;
  color: #FFFFFF;
}

.clase-container {
  background-color: #3B3A3A;
  margin-bottom: 20px;
  width: 75%;
  max-width: 300px;
  min-width: 230px;
  margin: 50px auto 20px;
  padding: 10px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.indoorbikeClase {
  background-image: url("../Assets/Spining.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.funcionalIndoorClase {
  background-image: url("../Assets/ClasesBGImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.musculacionBgImage {
  background-image: url("../Assets/MusculacionBG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.clase-horarios-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clase-horario-day-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.clase-hora {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 800;
}

.clase-dia-verde {
  font-size: 20px;
  color: #59FF4B;
}

.clase-dia-pink {
  font-size: 20px;
  color: #FF56BE;
}

.clase-horario-day-1 {
  background-color: #BFBFBF;
  padding: 0px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 20px;
  width: 90%;
  padding: 20px;
  background: rgb(141, 141, 141);
  background: linear-gradient(180deg, rgba(141, 141, 141, 0.4010738084) 100%, rgba(24, 31, 39, 0.3282446768) 100%);
}/*# sourceMappingURL=styles.css.map */