@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$dark-gray: #3B3A3A;
$greenJumpin: #59FF4B;
$pinkJumpin: #FF56BE;
$blackCard: #262626;
$white:#FFFFFF;
$font: "Poppins", serif;


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: $font;
}


@mixin sizeIconsNavBar($width,$heigth){
    width: $width;
    height: $heigth;
}

//media quiries.
@mixin desktopview{
    @media screen and (min-width: 1000px){
        @content;
    }
}

@mixin mobileview{
    @media screen and (max-width: 1000px){
        @content;
    }
}

@mixin iconPageSpan($width,$heigth){
    display: inline-block;
    width: $width;
    height: $heigth;
    margin-right: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}

//navBar mobile
.mobile-menu{
    background-color: $blackCard;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    
}

.logo-mobile-menu{
    @include sizeIconsNavBar(100px,100px);
    margin-right: 20px
}

.menu-icon-mobile{
    @include sizeIconsNavBar(40px,40px);
}
.title-intro{
    font-size: 26px;
    text-align: center;
    margin-top: 26px;
    
}

.section-musculacion-container{
    display: flex;
    justify-content: center;
}

.title-container{
    background-color: $dark-gray;
    opacity: 0.4;
    width: 100%;
    height: auto;
    color: $white;
    text-align: center;
   
}

.text-intro{
    text-align: center;
    font-size: 16px;
    padding: 20px;
}

.title-section{
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}

// estilos de la card

.plans-container-slider{
    display: flex;
    gap: 20px;
    height: auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans-container-card{
    // position: relative; Esto lo usaria si quisiera poner algo por encima de la misma card.
    scroll-snap-align: center;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 350px;
    margin: 50px auto 0px;
    // padding: 0 15px;
    background-color: $blackCard;
    color: $white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    box-shadow: 11px 9px 23px -17px rgba(0,0,0,1);
    margin-bottom: 20px;
}

.plan-card-title{
    font-size: 30px;
    background-color: $greenJumpin;
    font-weight: 800;
    display: block;
}
.plan-card-price{
    font-size: 26px;
    font-weight: 400;
    background-color: $dark-gray;
}
.plan-card-description{
    font-size: 14px;
    font-weight: 200;
    padding: 0px 5px;
    margin-top: 10px;
}
.button-buy{
    width: 150px;
    margin-top: 20px;
    border: none;
    background-color: $pinkJumpin;
    font-size: 20px;
    color: $white;
    padding: 8px;
    border-radius: 30px;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.5s;
    &:hover{
        color: $dark-gray;
        background-color: $greenJumpin;
        transform: scale(1.1);
    }
}

a{
    text-decoration: none;
    color: $white;
}

.card-check-icon{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 1px;
    background-image: url('../Assets/CheckGreenSmall.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}

.card-calendar-icon{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 1px;
    background-image: url('../Assets/calendar30diasIconV2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}

.extras-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
.extras-inscripcion{
    margin-top: 10px;
    background-color: $pinkJumpin;
    color:$white;
    font-size: 16px;
    width: 50%;
    min-width: 150px;
    max-width: 250px;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 11px 9px 23px -17px rgba(0,0,0,1);
    font-size: 18px;
    font-weight: 700;
}

.extras-subtitle{
    margin-top: 10px;
    font-size: 20px;
    padding:10px 0px;
}

.extras-icon-cinta{
    @include iconPageSpan(30px,30px);
    background-image: url('../Assets/cintadecorreroIcon.png');
    
}

.extras-icon-indoorBike{
    @include iconPageSpan(30px,30px);
    background-image: url('../Assets/indoorbike_icon.png')
    
}

.icon-warn{
    @include iconPageSpan(30px, 30px );
    background-image: url('../Assets/warn-icon.png');
}

.extra-subtitle-indoorbike{
    font-size: 10px;
    text-align: center;
    font-style: italic;
    padding: 20px;
    font-weight: 700;
}


footer{
    width: 100%;
    height: 100px;
    background-color: $dark-gray;   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    p{
        font-size: 16px;
        color: $white;
    }
}

.footer-social-media-container{
    width: 70%;
    display: flex;
    justify-content: space-around;
    gap:20px
    a{
        cursor: pointer;
    }
}

.footer-icon-instagram{
    @include iconPageSpan(30px,30px);
    background-image: url('../Assets/instagram_white_icon.png');
}

.footer-icon-whatsapp{
    @include iconPageSpan(30px, 30px);
    background-image: url('../Assets/whatsapp_icon_white.png');
}
.footer-icon-facebook{
    @include iconPageSpan(30px,30px);
    background-image: url('../Assets/facebook_white_icon.png');
}